<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cogop.riverrougecogop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <!-- Firebase -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_notification" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RiverRougeCOGOP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiverRougeCOGOP">
        <activity android:name=".SplashScreen.SplashActivity"
            android:exported="true">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <!-- Admin Password Check -->
        <activity android:name=".AdminMenu.AdminPasswordCheck"/>
        <!-- Admin Menu -->
        <activity android:name="com.cogop.riverrougecogop.AdminMenu.AdminMenu" />

        <!-- Main Drawer -->
        <activity android:name="com.cogop.riverrougecogop.Menus.MainDrawer" />

        <!-- Settings -->
        <activity
            android:name=".Settings.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <!--firebase messaging -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

        </service>
        <activity android:name=".Notes.Edit" />
        <!-- Details -->
        <activity
            android:name=".Details"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.RiverRougeCOGOP.NoActionBar" />
        <!-- Add Note -->
        <activity android:name=".Notes.AddNote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notes.NotesMainActivity" />
        </activity>
        <!-- Video Player -->
        <activity android:name=".VideoPlayActivity" />
        <!-- navigate -->
        <activity
            android:name=".NavagationActivity"
            android:label="@string/title_activity_navagation"
            android:theme="@style/Theme.RiverRougeCOGOP.NoActionBar" />
        <!-- Announcements -->
        <activity
            android:name=".Announcements.Announcements"
            android:label="Announcements"
            android:enabled="true"
            android:exported="true"/>

        <!-- Bible -->
        <activity
            android:name=".Bible.Bible"
            android:label="Bible" />
        <!-- Notes Main -->
        <activity
            android:name=".Notes.NotesMainActivity"
            android:label="NotesMainActivity" />
        <!-- Landscape -->
        <activity
            android:name=".landscape"
            android:label="landscape" />
        <!-- Giving -->
        <activity
            android:name=".Giving"
            android:label="Giving"/>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:configChanges="orientation|screenSize|fontScale|screenLayout|smallestScreenSize">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- Needed to open an installed app on the device -->
    <queries>
        <package android:name="com.sirma.mobile.bible.android" />
        <package android:name="com.android.chrome" />
        <package android:name="us.zoom.videomeetings" />

    </queries>
</manifest>

