<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cogop.riverrougecogop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.SEND" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RiverRougeCOGOP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RiverRougeCOGOP">

        <!-- Settings -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <activity android:name=".Edit" />
        <!-- Details -->
        <activity
            android:name=".Details"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.RiverRougeCOGOP.NoActionBar" />
        <!-- Add Note -->
        <activity android:name=".AddNote">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NotesMainActivity" />
        </activity>
        <!-- Video Player -->
        <activity android:name=".VideoPlayActivity" />
        <!-- navigate -->
        <activity
            android:name=".NavagationActivity"
            android:label="@string/title_activity_navagation"
            android:theme="@style/Theme.RiverRougeCOGOP.NoActionBar" />
        <!-- Announcements -->
        <activity
            android:name=".Announcements"
            android:label="Announcements" />
        <!-- Bible -->
        <activity
            android:name=".Bible"
            android:label="Bible" />
        <!-- Notes Main -->
        <activity
            android:name=".NotesMainActivity"
            android:label="NotesMainActivity" />
        <activity
            android:name=".landscape"
            android:label="landscape" />


        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:configChanges="orientation|screenSize|fontScale|screenLayout|smallestScreenSize">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- Needed to open an installed app on the device -->
    <queries>
        <package android:name="com.sirma.mobile.bible.android" />
        <package android:name="com.android.chrome" />
        <package android:name="us.zoom.videomeetings" />
    </queries>
</manifest>

